<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>::마인드 헬퍼:: | Mind Helper - 당신만을 위한 고민 상담소</title>
    <!-- ======= Styles ====== -->
    <link rel="stylesheet" href="./static/css/style.css" />
  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <div class="nav__logo">
              <img src="./static/img/logo.png" class="nav__img" alt="" />
              <p class="logo_title">
                <span style="color: #9dc3e6">M</span
                ><span style="color: #767171">IND</span><br /><span
                  style="color: #ffd966"
                  >H</span
                ><span style="color: #767171">ELPER</span>
              </p>
            </div>
          </li>

          <li>
            <a href="{{ url_for('index') }}">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">서비스 소개</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('survey') }}">
              <span class="icon">
                <i class="fa-solid fa-list-check"></i>
              </span>
              <span class="title">간편 설문 테스트</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('emotion') }}">
              <span class="icon">
                <ion-icon name="happy-outline"></ion-icon>
              </span>
              <span class="title">간편 이미지 표정 테스트</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('emotionDiary') }}">
              <span class="icon">
                <ion-icon name="book-outline"></ion-icon>
              </span>
              <span class="title">감정일기</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('userprofile') }}">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title">마이페이지</span>
            </a>
          </li>
          <li style="display: none">
            <a href="{{ url_for('Counselorfile') }}">
              <span class="icon">
                <ion-icon name="settings-outline"></ion-icon>
              </span>
              <span class="title"> 상담사 전용 마이페이지</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="log-out-outline"></ion-icon>
              </span>
              <span class="title">Sign Out</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- ========================= Main ==================== -->
      <div class="main">
        <div class="topbar">
          <div class="user">
            <p><span>Admin</span>님 환영합니다.</p>
          </div>
        </div>

        <!-- ================ 이미지 분석 ================= -->
        <div class="emotion_header">
          <h1>이미지 분석</h1>
          <p>
            원하는 얼굴 정면 사진을 업로드 해주시면 <br />마인드 헬퍼의 이미지
            AI 가 분석해드립니다.
          </p>
        </div>
        <div class="wrapper">
          <div class="upload">
            <form id="uploadForm" enctype="multipart/form-data">
              <div class="upload-wrapper">
                <div class="upload-img">
                  <!-- image here -->
                </div>
                <div class="upload-info">
                  <p>
                    <span class="upload-info-value">0</span> file(s) uploaded.
                  </p>
                </div>
                <div class="upload-area">
                  <div class="upload-area-img">
                    <img src="./static/img/upload.png" alt="" />
                  </div>
                  <p class="upload-area-text">
                    Select images or <span>browse</span>.
                  </p>
                </div>
                <input
                  type="file"
                  class="visually-hidden"
                  id="upload-input"
                  accept="image/*"
                  required
                />
              </div>
              <button
                class="btn"
                style="width: 200px; margin-top: 20px"
                onclick="uploadImage()"
              >
                이미지 전송하기
              </button>
            </form>
          </div>
        </div>
        <div class="details" id="res_emotion" style="display: none">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>이미지 분석 결과</h2>
            </div>
            <div class="res_emotion_contents">
              <div class="res_img">
                <img src="./static/img/trip-1.jpg" alt="" />
              </div>
              <div id="chart"></div>
            </div>
          </div>
          <div class="recentCustomers">
            <div class="cardHeader">
              <h2>분석 결과 설명</h2>
            </div>
            <div
              id="result"
              style="
                display: grid;
                text-align: center;
                line-height: 40px;
                margin-top: 20px;
                margin-bottom: 20px;
              "
            >
              <p>마인드 헬퍼의 이미지 AI가 분석 중입니다.</p>
            </div>

            <div class="emotion_img_right_content">
              <a href="{{ url_for('emotion') }}">
                <button class="btn" style="margin-top: 20px">
                  검사 다시하기
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script>
      // add hovered class to selected list item
      let list = document.querySelectorAll(".navigation li");

      function activeLink() {
        list.forEach((item) => {
          item.classList.remove("hovered");
        });
        this.classList.add("hovered");
      }

      list.forEach((item) => item.addEventListener("mouseover", activeLink));
      /*=======================================================================*/
      let calcScrollValue = () => {
        let scrollProgress = document.getElementById("progress");
        let progressValue = document.getElementById("progress-value");

        if (!scrollProgress || !progressValue) {
          return; // Exit the function if elements are not found
        }

        let pos = document.documentElement.scrollTop;
        let calcHeight =
          document.documentElement.scrollHeight -
          document.documentElement.clientHeight;
        let scrollValue = Math.round((pos * 100) / calcHeight);

        if (pos > 100) {
          scrollProgress.style.display = "grid";
        } else {
          scrollProgress.style.display = "none";
        }

        scrollProgress.addEventListener("click", () => {
          document.documentElement.scrollTop = 0;
        });

        scrollProgress.style.background = `conic-gradient(#E3B172 ${scrollValue}%, #d7d7d7 ${scrollValue}% 100%)`;
      };

      window.addEventListener("scroll", calcScrollValue);
      window.addEventListener("load", calcScrollValue);

      /* ===================로그인==================================*/

      const sign_in_btn = document.querySelector("#sign-in-btn");
      const sign_up_btn = document.querySelector("#sign-up-btn");
      const container = document.querySelector(".login_container");

      sign_up_btn.addEventListener("click", () => {
        container.classList.add("sign-up-mode");
      });

      sign_in_btn.addEventListener("click", () => {
        container.classList.remove("sign-up-mode");
      });
    </script>
    <!-- ====== ionicons ======= -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/08d807a96c.js"
      crossorigin="anonymous"
    ></script>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    <!-- 분석 결과 부분에서 이미지 미리보기 -->
    <script>
      $(document).ready(function () {
        $(".upload-area").click(function () {
          $("#upload-input").trigger("click");
        });

        $("#upload-input").change((event) => {
          if (event.target.files) {
            let filesAmount = event.target.files.length;

            for (let i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function (event) {
                let html = `
            <div class="uploaded-img">
              <img src="${event.target.result}">
              <button type="button" class="remove-btn">
                <i class="fas fa-times"></i>
              </button>
            </div>
          `;
                $(".upload-img").append(html);

                let totalFilesAmount = $(".upload-img .uploaded-img").length;
                $(".upload-info-value").text(totalFilesAmount);
                $(".upload-img").css("padding", "20px");
              };
              reader.readAsDataURL(event.target.files[i]);
            }
          }
        });

        $(document).on("click", ".remove-btn", function () {
          $(this).parent().remove();
          let totalFilesAmount = $(".upload-img .uploaded-img").length;
          $(".upload-info-value").text(totalFilesAmount);

          if (totalFilesAmount === 0) {
            $(".upload-img").css("padding", "0");
          }
        });
      });
    </script>

    <script>
      const uploadButton = document.querySelector(".btn");
      const uploadWrapper = document.querySelector(".wrapper");
      const resEmotion = document.getElementById("res_emotion");
      const uploadImgContainer = document.querySelector(".upload-img");
      const resImgContainer = document.querySelector(".res_img");

      uploadButton.addEventListener("click", function (event) {
        event.preventDefault();
        uploadWrapper.style.display = "none";
        resEmotion.style.display = "";

        // Get the uploaded file from the input element
        const fileInput = document.getElementById("upload-input");
        const file = fileInput.files[0];

        // Display the uploaded image
        const reader = new FileReader();
        reader.onload = function (e) {
          const img = document.createElement("img");
          img.src = e.target.result;
          resImgContainer.innerHTML = ""; // Clear the existing content
          resImgContainer.appendChild(img);
        };
        reader.readAsDataURL(file);
      });
    </script>
    <!-- 차트 코드 -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
      function uploadImage() {
        var fileInput = document.getElementById("upload-input");
        var file = fileInput.files[0];
        var formData = new FormData();
        formData.append("file", file);

        $.ajax({
          url: "/uploads",
          type: "POST",
          data: formData,
          contentType: false,
          processData: false,
          beforeSend: function () {
            var resultElement = document.getElementById("chart");
            resultElement.innerHTML =
              "<p>마인드 헬퍼의 이미지 AI가 분석 중입니다.</p>";
          },
          success: function (response) {
            if (response.error) {
              console.log("Error: " + response.error);
            } else {
              var emotions = response.result;
              console.log(emotions);
              var options = {
                series: Object.values(emotions),
                chart: {
                  width: 500,
                  type: "radialBar",
                },
                plotOptions: {
                  radialBar: {
                    offsetY: 0,
                    startAngle: 0,
                    endAngle: 270,
                    hollow: {
                      margin: 5,
                      size: "30%",
                      background: "transparent",
                      image: undefined,
                    },
                    dataLabels: {
                      name: {
                        show: false,
                      },
                      value: {
                        show: false,
                      },
                    },
                  },
                },
                colors: ["#1ab7ea", "#0084ff", "#39539E", "#0077B5", "#767268"],
                labels: Object.keys(emotions),
                legend: {
                  show: true,
                  floating: true,
                  fontSize: "16px",
                  position: "left",
                  offsetX: 50,
                  offsetY: 15,
                  labels: {
                    useSeriesColors: true,
                  },
                  markers: {
                    size: 0,
                  },
                  formatter: function (seriesName, opts) {
                    return (
                      seriesName +
                      ":  " +
                      opts.w.globals.series[opts.seriesIndex] +
                      "%"
                    );
                  },
                  itemMargin: {
                    vertical: 3,
                  },
                },
                responsive: [
                  {
                    breakpoint: 480,
                    options: {
                      legend: {
                        show: false,
                      },
                    },
                  },
                ],
              };

              var chart = new ApexCharts(
                document.querySelector("#chart"),
                options
              );
              chart.render();

              // Display result value and label
              var resultElement = document.getElementById("result");
              resultElement.innerHTML = ""; // Clear existing content

              for (var emotion in emotions) {
                var label = emotion;
                var value = emotions[emotion];
                var resultItem = document.createElement("p");
                resultItem.innerHTML = label + ": " + value.toFixed(0) + "%";
                resultElement.appendChild(resultItem);
              }
              // Remove the analysis in progress text
              var analysisText = document.querySelector("#chart p");
              if (analysisText) {
                analysisText.remove();
              }
            }
          },
          error: function (xhr, status, error) {
            alert("Error: " + xhr.responseText);
          },
        });
      }
    </script>
  </body>
</html>
